/* Remove default bullets */
ul,
#myUL {
  list-style-type: none;
}

/* Remove margins and padding from the parent ul */
#myUL {
  margin: 0;
  padding: 0;
}

/* Style the caret/arrow */
.caret {
  cursor: pointer;
  user-select: none;
  /* Prevent text selection */
}

/* Create the caret/arrow with a unicode, and style it */
.caret::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
  transform: rotate(90deg);
}

/* Hide the nested list */
.nested {
  display: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
  display: block;
}


/* div App */

div.App {
  background-color: rgb(190, 225, 242);
  height: 100vh;
}

/* Header */

header {
  background-color: rgb(3 66 99);
  ;
  padding: 0.2rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: left;
  align-items: center;
  box-shadow: 0 5px 10px rgb(16, 55, 80);
}

/* h1 */

h1 {
  color: aliceblue;
  font-weight: 200;
  font-family: system-ui, sans-serif;
  font-size: 1.5rem;
}

/* logo */

#logo {
  height: 3rem;
  padding: 0 2rem;
}

/* section */

section {
  margin: 0 15rem;
  padding: 5rem;
  border-left: 1px solid rgb(16, 55, 80);
  border-right: 1px solid rgb(16, 55, 80);
}


/* input search */

input.search {
  padding: 0.5rem;
  border-radius: 3px;
  background-color: rgb(245, 254, 255);
  width: 15rem;
  outline: 0.18rem solid  rgb(16, 55, 80);
  border: none;
  color:  rgb(16, 55, 80);
}

input.search:focus-visible {
  outline: 0.18rem solid rgb(97, 15, 44);
  background-color: rgb(255, 254, 255);
}

/* footer */

footer {
  background-color: rgb(3 66 99);
  ;
  padding: 0.2rem;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 99.65%;
  justify-content: center;
  color: aliceblue;
  font-weight: 200;
  font-family: system-ui, sans-serif;
  font-size: 1rem;
}


/* media tablettes */

@media screen AND (min-width: 500px) AND (max-width: 1200px) {

  section {
    margin: 0 5rem;
  }
  
}




/* media téléphonnes */

@media screen AND (max-width: 500px) {

  section {
    margin: 0 1rem;
    padding: 5rem 0;
    text-align: center;
  }
  input.search {
    width: auto;
  }

}